#app {
  width: 90rem;
  max-width: 90rem;
  padding: 4rem;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1rem;

  * > h1 {
    color: #111;
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }
}

.product {
  display: flex;
  gap: 0.625rem;
  padding: 0.5rem;

  .thumb {
    max-width: 3.75rem;
    align-self: self-start;
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .title {
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
        'Open Sans', 'Helvetica Neue', sans-serif;
      font-size: 1rem;
      color: #111;
    }

    .price {
      display: flex;
      flex-direction: column;

      .raw {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
          'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 0.75rem;
        font-weight: 600;
        text-decoration: line-through;
        color: #2e2e2e;
      }

      .final {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
          'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 1rem;
        font-weight: bold;
        color: #111;
      }

      .link {
        color: #111;
      }
    }
  }
}
